@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,500&display=swap");
*body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.add {
  width: 100%;
  height: 7vh;
  background-color: #002a3a;
}
.add p,
.add a {
  text-align: center;
  padding: 10px;
  font-family: "Montserrat Alternates";
  font-size: 0.8rem;
  color: white;
  text-decoration: none;
}
.add a {
  text-decoration: none;
  color: white;
}

/** --------------NAV-BAR-------------- **/
nav {
  width: 100%;
  height: 12vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav > div {
  background-color: #f1f1f1;
  height: 100%;
  flex: 4;
}
.brand_logo img {
  height: 100%;
  width: 85%;
  object-fit: cover;
}
.nav_links {
  flex: 8;
  z-index: 2;
}
.nav_links ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  list-style: none;
  position: relative;
  z-index: 2;
}
.nav_links li a {
  text-decoration: none;
  color: #000;
  font-family: "Montserrat Alternates";
  font-weight: 600;
  font-size: 0.8rem;
}
#arrowDown {
  position: relative;
  left: -8px;
  top: 7px;
  opacity: 0.7;
}
.nav_links ul li ul {
  width: 180px;
  height: 200px;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 9vh;
  border-radius: 0 0 5px 5px;
  display: none;
}
.nav_links ul li ul li {
  font-family: "Montserrat Alternates";
  margin: 30px 30px 0 0;
  width: 100%;
  height: 100%;
}
.nav_links ul li ul li a {
  text-align: center;
  color: #000;
}
.nav_links ul li:hover ul {
  display: flex;
}

.nav_icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 4;
}

.nav_icons img {
  width: 1.8rem;
  height: 1.8rem;
}
.nav_icons a {
  position: relative;
}
.nav_icons a > p {
  background-color: #fa73a07b;
  color: white;
  font-weight: bold;
  font-size: 0.8rem;
  position: absolute;
  top: 1.2rem;
  right: -7px;
  width: 15px;
  height: 18px;
  border-radius: 50%;
  text-align: center;
}
.burger {
  flex: 1;
  height: 100%;
  width: 70px;
  display: none;
}
.burger > div {
  height: 4px;
  width: 35px;
  background-color: #002a3a;
  margin: 5px;
  transition: all 0.5s ease-in;
}
.burger .line1 {
  margin: 45% 0 0 5px;
}

.nav-active {
  transform: translateX(0);
}
@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-6px, 8px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
/* ------NAV RESPONSIVETY----------- */

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .brand_logo img {
    height: 100%;
    width: 85%;
    object-fit: cover;
  }
  /* ----------------- */
  .burger {
    display: block;
    cursor: pointer;
  }
  .burger > div {
    margin: 5px 10px 0 0;
  }
  .burger .line1 {
    margin: 20% 0 0 0;
  }
  /* ----------------- */
  .nav_icons img {
    width: 1.5rem;
    height: 1.5rem;
  }
  /* ----------------- */
  .nav_links {
    position: absolute;
    right: 0;
    top: 18.4vh;
    height: 81vh;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }
  .nav_links ul {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  .nav_links li {
    opacity: 0;
  }
  /* ----------------- */
  .nav_links ul li:hover ul {
    display: none;
  }
  /* ----------------- */
  .nav_icons a > p {
    font-size: 0.8rem;
    position: absolute;
    top: 1.1rem;
    right: -8px;
    width: 15px;
    height: 18px;
    background-color: #fa73a092;
  }
  /* ----------------- */
  .nav-active {
    transform: translateX(0);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
@media screen and (max-width: 320px) {
  .add p,
  .add a {
    text-align: center;
    padding: 10px;
    font-size: 0.5rem;
  }
  .brand_logo img {
    width: 95%;
  }
  .nav_icons img {
    width: 1.1rem;
    height: 1.1rem;
  }
  .burger > div {
    height: 3px;
    width: 30px;
    background-color: #002a3a;
    transition: all 0.5s ease-in;
    margin: 3px 0 0 0;
  }
  .burger .line1 {
    margin: 45% 0 0 0;
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-2px, 8px);
  }
  .toggle .line2 {
    opacity: 0;
  }
  .toggle .line3 {
    transform: rotate(45deg) translate(0px, -7px);
  }
  .nav-active {
    transform: translateX(0);
  }
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
/*!--------------------------------- carousel/ */
.carousel-item {
  position: relative;
}
.carousel-item img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}
.carousel-item-desc,
.carousel-item-desc1 {
  width: 60vw;
  height: 45vh;
  position: absolute;
  top: 10vh;
}

.carousel-item-desc1 h1,
h3 {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  user-select: none;
}
.carousel-item-desc {
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
  user-select: none;
  color: #fff;
}
/*!--------------------------------- categories-section/ */

.categories-section {
  width: 100%;
  height: 100vh;
  background-color: #eee;
  overflow-x: hidden;
}
.categories-main-header {
  width: 100%;
  height: 10vh;
}
.categories-main-header h1 {
  font-size: 3vw;
  text-align: center;
  padding: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
.cate-wrraper {
  width: 100%;
  height: 75vh;
  display: flex;
  justify-content: space-evenly;
  margin-top: 4%;
}
.cate-wrraper > div {
  width: 32%;
  height: 100%;
  box-shadow: 1px 4px 4px #0000003d;
  cursor: pointer;
  transition: all 0.4s ease-in;
  position: relative;
}
.smartWatch {
  background-image: url("../Images/sense.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.Trackers {
  background-image: url("../Images/luxe.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.Accessories {
  background-image: url("../Images/HPU92.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.cate-wrraper > div:hover {
  transform: translate(20px, -10px);
  z-index: 2;
}
.sm-tx {
  width: 90%;
  height: 30%;
  position: absolute;
  bottom: 0;
  left: 10%;
}
.sm-tx h1 {
  color: #f77676;
  text-align: center;
  font-size: 2.4rem;
}
.sm-tx a {
  text-decoration: none;
  color: #f77676;
}
.sm-tx a:hover {
  text-decoration: underline;
  color: #f77676;
}
.sm-tx h3 {
  color: #000000;
  text-align: center;
  font-size: 1rem;
}

/* ------Categorirs RESPONSIVETY----------- */
@media screen and (max-width: 1024px) {
  .sm-tx {
    width: 90%;
    height: 30%;
    position: absolute;
    bottom: 5%;
    left: 10%;
  }
  /* ----------------- */
  .sm-tx h1 {
    color: #f77676;
    text-align: center;
    font-size: 1.5rem;
  }
  .sm-tx h3 {
    color: #000000;
    text-align: center;
    font-size: 0.9rem;
  }
  /* ----------------- */
}
@media screen and (max-width: 768px) {
  .cate-wrraper > div {
    width: 32%;
    height: 90%;
    box-shadow: 1px 4px 4px #0000003d;
    cursor: pointer;
    transition: all 0.4s ease-in;
    position: relative;
  }

  /* ----------------- */
  .sm-tx h1 {
    color: #f77676;
    text-align: center;
    font-size: 1.2rem;
  }
  .sm-tx h3 {
    color: #000000;
    text-align: center;
    font-size: 0.7rem;
  }
  /* ----------------- */
}
@media screen and (max-width: 320px) {
  .categories-section {
    width: 100%;
    height: 70vh;
  }
  .categories-main-header {
    width: 100%;
    height: 10vh;
  }
  .categories-main-header h1 {
    font-size: 3vw;
    padding: 20px;
  }
  .cate-wrraper {
    width: 100%;
    height: 50vh;
    margin-top: 5%;
  }
  .cate-wrraper > div {
    width: 45%;
    height: 90%;
  }
  .Accessories {
    display: none;
  }
  .cate-wrraper > div:hover {
    transform: translate(10px, -5px);
  }
  .sm-tx {
    width: 80%;
    height: 50%;
    bottom: 5%;
    left: 10%;
  }
  .sm-tx h1 {
    font-size: 0.9rem;
  }
  .sm-tx h3 {
    font-size: 0.5rem;
    font-weight: bold;
    text-align: left;
  }
}

/*!--------------------------------- sideshow-section/ */

.sideshow {
  width: 100%;
  height: 136vh;
  background-color: #eee;
}
.all-products {
  width: 100%;
  height: 60vh;
}
.all-products h4 {
  padding: 15px;
  text-align: center;
  font-size: 2rem;
}
.all-products p {
  text-align: center;
  font-size: 1.2rem;
  padding: 0 0 15px 0;
}
.all-products-link {
  width: 12%;
  height: 9%;
  border: #000 1px solid;
  margin: auto;
  transition: 0.5s ease-in-out;
}
.all-products-link:hover,
.all-products-link a:hover {
  background-color: #f77676;
  color: rgb(255, 255, 255);
}
.all-products-link a {
  text-decoration: none;
  color: #000;
}
.all-products-link p {
  font-size: 1.2rem;
  padding: 2px;
  font-weight: bold;
}
.all-products-img {
  width: 50%;
  height: 55%;
  margin: 5px auto;
}
.all-products-img img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
/* ------sideshow RESPONSIVETY----------- */
@media screen and (max-width: 1024px) {
  .all-products h4 {
    padding: 5px;
    font-size: 1.4rem;
  }
  .all-products p {
    font-size: 1.1rem;
    padding: 0 0 5px 0;
  }
  .all-products-link {
    width: 14%;
    height: 12%;
  }
  .all-products-link p {
    font-size: 0.8rem;
    padding: 5px;
  }
}
@media screen and (max-width: 768px) {
  .all-products h4 {
    padding: 5px;
    font-size: 1.4rem;
  }
  .all-products p {
    font-size: 1.1rem;
    padding: 0 0 5px 0;
  }
  .all-products-link {
    width: 14%;
    height: 12%;
  }
  .all-products-link p {
    font-size: 0.7rem;
    padding: 5px;
  }
}
@media screen and (max-width: 320px) {
  .all-products h4 {
    padding: 5px;
    font-size: 1.1rem;
  }
  .all-products p {
    font-size: 0.8rem;
    padding: 0 0 5px 0;
  }
  .all-products-link {
    width: 25%;
    height: 12%;
  }
  .all-products-link p {
    font-size: 0.5rem;
    padding: 8px;
  }
}

/* ----------------- */

.biking-products {
  width: 100%;
  height: 75vh;
  display: flex;
}
.biking-products > .pic-side {
  width: 80%;
  height: 100%;
}

.pic-side img {
  width: 100%;
  height: 100%;
  filter: opacity(0.8);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  user-select: none;
}
.pic-side img:hover {
  filter: opacity(1);
}

.prod-DESC h1 {
  text-align: center;
  padding: 20px;
  font-size: 4vw;
}
.prod-DESC p {
  text-align: left;
  padding: 10px 0 0 15px;
  font-size: 1.5vw;
}
.DESC___link {
  width: 20%;
  height: 10%;
  border: #000 solid 1px;
  margin: 50px auto;
}
.DESC___link a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #000;
}
.DESC___link p {
  padding: 10px 0 0 12px;
  font-size: 1rem;
}

@media screen and (max-width: 1024px) {
  .biking-products > .pic-side {
    width: 70%;
    height: 100%;
  }
  .DESC___link p {
    padding: 5px 0 0 12px;
    font-size: 1.1vw;
  }
}

@media screen and (max-width: 768px) {
  .biking-products {
    width: 100%;
    height: 60vh;
    display: flex;
  }
  .biking-products > .pic-side {
    width: 60%;
    height: 100%;
  }
  .DESC___link p {
    padding: 5px 0 0 8px;
    font-size: 1.3vw;
  }
}
@media screen and (max-width: 320px) {
  .biking-products {
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
  }
  .biking-products > .pic-side {
    width: 100%;
    height: 100%;
  }
  .DESC___link p {
    padding: 5px 0 0 12px;
    font-size: 1.1vw;
  }

  .prod-DESC h1 {
    text-align: center;
    padding: 10px;
    font-size: 4vw;
  }
  .prod-DESC p {
    text-align: center;
    padding: 5px 0 0 0;
    font-size: 2.5vw;
  }
  .DESC___link {
    width: 20%;
    height: 15%;
    margin: 20px auto;
  }
  .DESC___link a {
    width: 100%;
    height: 100%;
  }
  .DESC___link p {
    padding: 5px 5px 0 9px;
  }
}

/*!---------------------------------web__app__container"/ */
.web__app__container {
  width: 100%;
  height: 100vh;
  background-image: url("../Images/services.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.linkk__app {
  width: 40%;
  height: 80%;
  margin: 0 0 0 7%;
}
.linkk__app h3 {
  color: #f1f1f1;
  font-size: 4vw;
  padding: 55px 0 30px 0;
  text-align: left;
}
.linkk__app p {
  color: #f1f1f1;
  font-size: 1.5vw;
  padding: 15px 5px 5px 15px;
}
.WebApp_link {
  width: 32%;
  height: 14%;
  border: #f1f1f1 1px solid;
  margin: 0 0 0 7%;
}
.WebApp_link a {
  text-decoration: none;
}
.WebApp_link p {
  text-align: center;
  font-size: 1.5vw;
  padding: 15px;
}
.WebApp_link a:hover {
  text-decoration: underline;
  color: white;
}

/**---------------------web__app-------------_*/
@media screen and (max-width: 768px) {
  .linkk__app {
    width: 60%;
    height: 80%;
    margin: 0 0 0 7%;
  }
  .WebApp_link {
    width: 36%;
    height: 12%;
    border: #f1f1f1 1px solid;
    margin: 0 20px 0 7%;
  }
  .linkk__app h3 {
    font-size: 6vw;
  }
  .linkk__app p {
    color: #f1f1f1;
    font-size: 2vw;
    padding: 5px 5px 5px 5px;
  }
}
@media screen and (max-width: 320px) {
  .linkk__app {
    width: 60%;
    height: 80%;
    margin: 0 0 0 7%;
  }

  .linkk__app h3 {
    font-size: 6vw;
  }
  .linkk__app p {
    color: #f1f1f1;
    font-size: 3vw;
    padding: 5px 5px 5px 5px;
  }
}

/*!---------------------------------Phone__app__container"/ */
.Phone__app__container {
  width: 100%;
  max-height: 200vh;
  background-color: #f6f6f6;
}
.Phone__app__container > h1 {
  text-align: center;
  padding: 25px;
}
.Phone__app__container > p {
  text-align: center;
}
.swiper {
  width: 30%;
  height: 90%;
  padding: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

.download__btns {
  width: 30%;
  height: 200px;
  margin: auto;
  object-fit: contain;
}
.download__btns > p {
  text-align: center;
  padding: 15px 0 5px 0;
}
.download__btns > a {
  width: 100%;
  height: 100%;
}
.download__btns img {
  width: 60%;
  height: 60%;
  user-select: none;
  margin: 0 0 0 20%;
}
/*!video thong----------------------*/
video {
  width: 100%;
  height: 100vh;
}

/**---------------------PHONE__APP-------------_*/

@media screen and (max-width: 320px) {
  .Phone__app__container {
    width: 100%;
    max-height: 200vh;
    background-color: #f6f6f6;
  }

  .swiper {
    width: 90%;
    height: 500px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
  }
}
/*!----------------------- sign_wrp"/ */

.sign_wrp {
  width: 100%;
  height: 45vh;
  background-color: #d39d4e;
  margin: 45px 0 0 0;
}
.sign_wrp h1 {
  text-align: center;
  color: #fff;
  font-size: 5vw;
  font-family: "Oswald", sans-serif;
  padding: 20px 0 0 0;
}

.sign_wrp p {
  text-align: center;
  color: #fff;
  font-size: 2vw;
  font-family: "Hubballi", cursive;
  padding: 5px 0 20px 0;
  font-weight: bolder;
}
.sign-container {
  width: 35vw;
  height: 7vh;
  background-color: #fff;
  margin: auto;
  display: flex;
  border-radius: 4px;
}
.sign-container img {
  width: 35px;
  height: 35px;
  margin: 3px 0 0 5px;
  cursor: pointer;
}
.sign-container input {
  border: none;
  padding: 15px;
  width: 80%;
  outline: none;
  font-family: "Hubballi", cursive;
  font-size: 1.35vw;
  font-weight: bolder;
  font-style: italic;
}
/**---------------------sign_wrp-------------_*/

@media screen and (max-width: 768px) {
  video {
    width: 100%;
    height: 90vh;
  }
  .sign_wrp {
    height: 60vh;
    margin: 30px 0 0 0;
  }
  .sign_wrp h1 {
    font-size: 5vw;
    padding: 20px 0 0 0;
  }

  .sign_wrp p {
    font-size: 2.2vw;
    padding: 5px 0 20px 0;
  }
  .sign-container {
    width: 55vw;
    height: 10vh;
  }
  .sign-container img {
    width: 30px;
    height: 30px;
    margin: 5px 0 0 4px;
  }
  .sign-container input {
    border: none;
    padding: 15px;
    width: 78%;
    font-size: 3vw;
  }
}
@media screen and (max-width: 320px) {
  video {
    width: 100%;
    height: 70vh;
  }
  .sign_wrp {
    height: 45vh;
    margin: 30px 0 0 0;
  }
  .sign_wrp h1 {
    font-size: 6vw;
    padding: 20px 0 0 0;
  }

  .sign_wrp p {
    font-size: 3vw;
    padding: 5px 0 20px 0;
  }
  .sign-container {
    width: 70vw;
    height: 7.4vh;
  }
  .sign-container img {
    width: 20px;
    height: 20px;
    margin: 5px 0 0 4px;
  }
  .sign-container input {
    border: none;
    padding: 15px;
    width: 78%;
    font-size: 3vw;
  }
}

/*!--------------------------------- footer */
footer {
  width: 100%;
  height: 43vh;
  background-color: #f1f1f1;
  display: flex;
  justify-content: space-evenly;
}
footer > div {
  width: 32%;
  height: 100%;
}
.brand__footer_logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer__contact {
  display: flex;
  flex-direction: column;
}
.footer__contact h4 {
  padding: 15px;
  text-align: center;
}
.footer__contact a {
  padding: 5px 0 0 25px;
  text-decoration: none;
  color: #000;
  transition: all 0.4s ease;
}
.footer__contact a:hover {
  transform: translateY(-3px);
}
.footer__contact > div {
  width: 100%;
  height: 18%;
  display: flex;
  justify-content: left;
}
.footer__contact > div img {
  width: 25px;
  height: 25px;
  margin: 0 20px;
}

.footer_klinks {
  display: flex;
  flex-direction: column;
}
.footer_klinks h4 {
  padding: 15px;
  text-align: center;
}
.footer_klinks a {
  padding: 25px 0 0 25px;
  text-decoration: none;
  color: #000;
  transition: all 0.4s ease;
  text-align: center;
}
.footer_klinks a:hover {
  transform: translateY(-3px);
}
/**---------------------Footer-------------_*/

@media screen and (max-width: 768px) {
  .footer__contact {
    display: flex;
    flex-direction: column;
  }
  .footer__contact h4 {
    font-size: 1rem;
    padding: 10px;
  }
  .footer__contact a {
    padding: 5px 0 0 25px;
    font-size: 0.8rem;
  }
  .footer__contact a:hover {
    transform: translateY(-3px);
  }
  .footer__contact > div {
    width: 100%;
    height: 18%;
    display: flex;
    justify-content: left;
  }
  .footer__contact > div img {
    width: 25px;
    height: 25px;
    margin: 0 20px;
  }

  .footer_klinks {
    display: flex;
    flex-direction: column;
  }
  .footer_klinks h4 {
    padding: 10px;
    font-size: 1rem;
  }
  .footer_klinks a {
    padding: 25px 0 0 25px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 320px) {
  footer > div {
    width: 50%;
  }
  .brand__footer_logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .footer__contact {
    width: 75%;
  }
  .footer__contact h4 {
    padding: 40px 0 0 0;
    font-size: 0.8rem;
  }
  .footer__contact a {
    font-size: 0.6rem;
    padding: 5px 0 0 15px;
    text-decoration: none;
    color: #000;
    transition: all 0.4s ease;
  }

  .footer__contact > div {
    width: 90%;
    height: 18%;
    display: flex;
    justify-content: left;
  }
  .footer__contact > div p {
    font-size: 00.7rem;
  }
  .footer__contact > div img {
    width: 15px;
    height: 15px;
    margin: 0 10px;
  }

  .footer_klinks {
    display: none;
  }
}
